@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-brand-text bg-gray-50;
}

.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}